includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/peterfox/phpstan-toon-formatter/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    checkMissingOverrideMethodAttribute: true
    reportUnmatchedIgnoredErrors: false

services:
    -
        class: PeterFox\Arcana\PHPStan\DisallowRuntimeExceptionThrowRule
        tags:
            - phpstan.rules.rule
    -
        class: PeterFox\Arcana\PHPStan\DisallowRuntimeExceptionExtendRule
        tags:
            - phpstan.rules.rule
